body {
    margin: 0;
    padding: 0;
  /*  Background fallback in case of IE8 & or in case video doens't load */
    background: #333;
    background-attachment: fixed;
    background-size: cover;
  }
  
  #video-background {
    position: fixed;
    right: 0; 
    top: 0;
    min-width: 100vh; 
    min-height: 75vh;
    width: auto; 
    height: auto;
    z-index: -100;
  }
  
  #overlay {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
     z-index: -99;
    background: rgba(151,82,14,0.3);
  }

  #logo-img {
    height: 20vh;
  }
  
  div.logo {
    display: flex;
    height: 15vh;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
  }

.row-about {
  display: flex;
	background-color: rgba(255,255,255, 0.3);
  /* padding: 50px; */
  justify-content: center;  
  align-items: flex-start;
  /* margin-bottom: 100px; */
}   

.row-about p {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  padding-top: 5px;
}

.row-big {
  display: flex;
  background-color: white;
  padding-top: 30px;
  justify-content: center;  
}  

.row {
display: flex;  
  /*margin: 100px;
  /* flex-wrap: wrap; */ 
 /* display: flex;
  /* flex-wrap: wrap;*/
justify-content: center;  
  /* align-content: center; */
  /* align-items: flex-start; */
 /* background-color: white; */
}   

.card-img-top {
  display: flex;
  height: 200px;
}
  
.card-body {
  text-align: left;
  width: 250px;
  font-family: 'Raleway', sans-serif;
}

.transparent_btn {
	display: inline-block;
	padding: 10px 14px;
	color: #FFF;
	border: 1px solid #FFF;
	text-decoration: none;
	font-size: 14px;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	border-radius: 4px;
	transition: background-color 300ms ease;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.transparent_btn:hover {
	background-color: rgba(255,255,255, 0.3);
	color: #FFF;
}

div.buttons {
    display: flex;
    width: 80vh;
    padding-top: 20px;
    padding-left: 50px;
    /* margin-left: auto; */
    margin-right: auto;
    justify-content: space-between;
}