body {
    margin: 0;
    padding: 0;
  /*  Background fallback in case of IE8 & or in case video doens't load */
    background: #333;
    background-attachment: fixed;
    background-size: cover;
        color: whitesmoke;
  }
  
  #video-background {
    position: fixed;
    right: 0; 
    top: 0;
    min-width: 100vh; 
    min-height: 75vh;
    width: auto; 
    height: auto;
    z-index: -100;
  }
  
  #overlay {
    position: fixed;
    top: 0; right: 0; left: 0; bottom: 0;
     z-index: -99;
    background: rgba(151,82,14,0.3);
    height: 100vh;
    margin:0 px;
  }

#logo-img {
    max-height: 20vh;
    
}
  
div.logo {
    max-height: 20vh;
    max-width: 40vh;
}
  
#intro {
padding-top: 30px;
padding-bottom: 30px;
position: relative;
bottom: 00px;
font-family: 'Raleway', sans-serif;
text-align: center;
} 
  
#intro h5, h6, p {
color: rgb(233, 216, 207);
text-align: center;
}
  
p.card-text {
    color: rgb(155, 104, 37);
}

.intro-text {
padding: 10px 20px;
line-height: 2.5em;
}
  
.intro-header {
text-align: left;
padding-left: 20px;
font-size: 18px;
}
  
#logo-img {
height: 55vh;
}
  
div.logo {
display: flex;
height: 70vh;
width: auto;
margin-right: 50px;
justify-content: center;
align-items: center;
}
  
.transparent_btn {
display: inline-block;
padding: 10px 14px;
color: whitesmoke;
border: 1px solid whitesmoke;
text-decoration: none;
font-size: 14px;
line-height: 120%;
background-color: rgba(255,255,255, 0);
/* border-radius: 4px; */
transition: background-color 300ms ease;
cursor: pointer;
font-family: 'Raleway', sans-serif;
}
  
.transparent_btn:hover {
background-color: rgba(255,255,255, 0.3);
color: whitesmoke;
text-decoration: none;
}
  
div.buttons {
display: flex;
width:100%;
padding: 20px 50px 0px 50px;
margin-left: auto;
margin-right: auto;
justify-content: space-around;
align-items: center;
}

label {
font-family: 'Raleway', sans-serif;
}

#home-button {
    max-height: 38px;
}
#search-input {
background-color: rgba(255,255,255, 0);
border: 1px solid whitesmoke;
text-decoration: none;
padding: 10px 14px;
font-size: 14px;
line-height: 120%;
font-family: 'Raleway', sans-serif;
color: whitesmoke;
margin-right: 0px;
}
  
::placeholder {
color: whitesmoke;
}
  
input:focus { 
outline: none !important;
border-color: rgb(206, 158, 113);
box-shadow: 0 0 20px rgb(206, 169, 113);
}
  
a.signup {
margin: 0 70px 0 30px;;
}
  
a.search {
margin-left: 0px;
}
  
.arrow {
display: block;
position: fixed;
bottom: 35px;
left: 48%;
margin: 0 auto;
}
  
.row-footer {
margin-top: 60px;
}
  
.row-footer a {
display: flex;
color: white; 
font-family: 'Raleway', sans-serif;
font-size: 15px;
justify-content: center;
}
  
.trademarks {
color: white; 
font-family: 'Raleway', sans-serif;
font-size: 15px;
text-align: center;
padding: 20px;
}

.cardTrails {
color: rgb(71, 71, 71);
font-family: 'Raleway', sans-serif;
}

img {
height: 100%;
position: absolute;
}

.card {
margin: 30px;
/* border: 1px solid whitesmoke; */
background-color: rgba(255,255,255, 0.3);
font-family: 'Raleway', sans-serif;
}

.cardTrails h5 {
text-align: center;
font-family: 'Raleway', sans-serif;
}

.btn-primary {
    margin-bottom: 5px;
    background-color: rgb(172, 128, 63, 0.5);
    color: whitesmoke;
    border: none;
    margin: 5px;
    font-family: 'Raleway', sans-serif;
}

#favorite {
    background-color: rgb(172, 128, 63, 0.5);
}

#favorite:hover, .btn-primary:hover  {
    box-shadow: none;
    border: none;
    background-color: rgba(39, 24, 3, 0.616);
    color: whitesmoke;
}

#favorite:focus, .btn-primary:focus {
    box-shadow: none;
    border: none;
}

.card-block {
/* border-left: 1px solid whitesmoke; */
background-color: rgba(255,255,255, 0.3);
font-family: 'Raleway', sans-serif;
}

.SRHeader {
    text-align: center;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

.SRHeader h5 {
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

.temp {
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}
   
.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}
   
.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}
   
.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #d39d28;
}
