.rating {
    display: flex;
    position: absolute;
    flex-flow: row-reverse;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%), rotateY(360deg);
}

.rating input {
    display: none;
}

.rating label {
    display: block;
    cursor: pointer;
    width: 25px;
    /* background: #ccc; */
}

.rating label:before {
    content: "\f005";
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 25px;
    color: gray;
}

.rating label:after {
    content: "\f005";
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 25px;
    color: yellow;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after { 
    opacity: 1;
}