body {
  margin: 0px;
  padding: 0px;
/*  Background fallback in case of IE8 & or in case video doens't load */
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

#video-background {
  position: fixed;
  right: 0; 
  top: 0;
  height: auto;
  max-width: 1800px;
  z-index: -100;
}

div.jumbotron {
  background-color: rgba(151,82,14,0.3);
  margin-top: 0px;
  margin-bottom: 0px;
  max-height: 1200px;
  min-height: 700px;
  min-width: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 0px;
  padding: 0px;
}

#intro {
background: rgb(223, 222, 221);
padding-top: 30px;
padding-bottom: 30px;
position: relative;
bottom: 00px;
font-family: 'Raleway', sans-serif;
text-align: center;
} 

#intro h5, p {
color: #75450d;
text-align: center;
}

.intro-text {
  padding: 10px 20px;
  line-height: 2.5em;
}


#logo-img {
  height: 55vh;
}

div.logo {
  display: flex;
  height: 70vh;
  width: auto;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
}

a.transparent_btn, button.transparent_btn {
  display: inline-block;
  padding: 10px 14px;
  color: #FFF;
  border: 1px solid #FFF;
  text-decoration: none;
  font-size: 14px;
  line-height: 120%;
  background-color: rgba(255,255,255, 0);
  border-radius: 0px;
  transition: background-color 300ms ease;
    cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

a.transparent_btn:hover, button.transparent_btn:hover {
  background-color: rgba(255,255,255, 0.3);
  color: #FFF;
  border: 1px solid #FFF;
}

a.transparent_btn:focus, button.transparent_btn:focus {
  background-color: rgba(255,255,255, 0);
  color: #FFF;
  border: 1px solid #FFF;
  box-shadow: 0 0 20px rgb(206, 169, 113);
  outline: none;
}

div.buttons {
  display: flex;
  /* width: 80vh; */
  padding: 20px 50px 0px 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
}

.modal-content {
  background-color:rgba(255,255,255, 0.8);
}

.modal-title {
  font-family: 'Raleway', sans-serif;
}

label {
  font-family: 'Raleway', sans-serif;
}

#search-input {
  background-color: rgba(255,255,255, 0);
  border: 1px solid #FFF;
  text-decoration: none;
  padding: 10px 14px;
  font-size: 14px;
  line-height: 120%;
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  margin-right: 0px;
}

::placeholder {
  color: #FFF;
}

input:focus { 
  outline: none !important;
  border-color: rgb(206, 158, 113);
  box-shadow: 0 0 20px rgb(206, 169, 113);
}


.arrow {
  display: block;
  position: fixed;
  bottom: 35px;
  left: 49%;
  margin: 0 auto;
}

#intro {
  background: rgb(218, 215, 212);
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  bottom: 0px;
  font-family: 'Raleway', sans-serif;
} 

#intro h5, p {
  color: #75450d;
}

.intro-text {
  padding: 10px 40px;
  line-height: 2.5em;
}

.intro-header {
  text-align: left;
  padding-left: 40px;
  font-size: 18px;
  font-family: 'Bukhari', sans-serif;
}

@font-face {
  font-family: Bukhari;
  src: url(BukhariScript-Regular.otf);
}

@font-face {
  font-family: Nickainley;
  src: url(Nickainley.ttf);
}

#footer {
  background: rgb(82, 73, 64);
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  bottom: 0px;
  font-family: 'Raleway', sans-serif;
}


.row-footer {
  margin-top: 60px;
}

.row-footer a {
  display: flex;
	color: white; 
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
  justify-content: center;
}

.trademarks {
  color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
  text-align: center;
  padding: 20px;
}